.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0);
    pointer-events: none;
    transition: background 0.4s;
    z-index: 10;

    &.active {
      background: rgba(0,0,0,0.55);
      pointer-events: all;
    }
  }

  .slide-menu {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 80vh;
    background: #D9D9D9;
    padding: 40px 50px;
    transition: top 0.4s ease-in-out;
    z-index: 5;
    text-align: left;

    &.active {
      top: 0;
    }

     .menu__extra-line {
            position: absolute;
            top: 20px;
            left: 50%;
            padding: 1px;
            width: 100px;
            height: 5px;
            border-radius: 23px;
            z-index: 11;
            background: #000;
            cursor: pointer;
            opacity: 0;
            transform: translate(-50%, -20px);
            transition: transform 0.25s ease, opacity 0.25s ease;
            animation: fadeSlide 0.35s ease forwards;

             &.active {
              opacity: 1;
              transform: translate(-50%, 0);
            }

                @keyframes fadeSlide {
                0% { opacity: 0; transform: translate(-50%, -20px); }
                100% { opacity: 1; transform: translate(-50%, 0); }
                }

                &:hover {
                transform: translateY(0px) scale(1.05);
                }
        }

    &__title {
      font-family: 'DS Dots medium';
      color: #000;
      text-align: center;
      font-size: 14vw;
      line-height: 120%;
      letter-spacing: -0.02em;
      margin-top: 50px;
      margin-bottom: 120px;
      cursor: default;
      transition: .6s;
        &:hover {
          color: #78b90f;
        }
    }

    &__nav {
      opacity: 0;
      transform: translateY(20px);
      transition: 0.4s ease;

      &.show {
        opacity: 1;
        transform: translateY(0);
      }
    }

    ul {
      display: flex;
      justify-content: space-between;

      li {
        margin-bottom: 20px;

        button {
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
          font-size: 2vw;
          text-decoration: none;
          color: #989898;
          transition: color 0.3s ease;
        }
        button:hover {
            color: #000;
        }
      }
    }

    &.active {
      position: fixed;
      z-index: 9999;
      top: 0;
    }
  }

  .menu {
    position: fixed;
    top: 20px;
    left: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 10;
        &.dark {
            .menu__line {
                background: #000;
            }
        }
        &.light {
            .menu__line {
                background: #fff;
            }
        }
    }
    .menu__line {
      width: 100px;
      height: 5px;
      border-radius: 20px;
      background: #000;
      margin-bottom: 7px;
      transition: transform 0.3s ease, opacity 0.3s ease;

      &.hover:nth-child(1) {
        transform: translateY(6px) rotate(5deg);
      }

      &.hover:nth-child(2) {
        transform: translateY(-6px) rotate(-5deg);
      }

      &.active:nth-child(1) {
        transform: translateY(6px) rotate(5deg);
      }

      &.active:nth-child(2) {
        transform: translateY(-6px) rotate(-5deg);
      }
    }

    @media (max-width: 1920px) {
      .slide-menu {
        &__title {
          margin-bottom: 250px;
        }
      }
    }

    @media (max-width: 1500px) {
      .slide-menu {
      &__title {
      font-size: 15vw;
    }
  }
  }
    @media (max-width: 1240px) {
      .slide-menu {
        height: 85vh;
      &__title {
      font-size: 16vw;
      margin-bottom: 90px;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
  }
  }


    @media (max-width: 860px) {
      .menu {
        top: 20px;
        right: -35%;
      }
      .slide-menu {
      .menu__extra-line {
        top: 20px;
        left: 90%;
        width: 70px;
        height: 4px;
        transform: translate(-90%, 0);
      }
       ul li button {
          font-size: 3.5vw;
        }
    }
      .menu__line {
        width: 70px;
        height: 4px;
      }
      .slide-menu__title {
        font-size: 24vw;
      }
  }

  @media (max-width: 500px) {
     .menu {
        top: 20px;
        right: -25%;
      }
    .slide-menu {
        height: 80vh;
      &__title {
      font-size: 24vw;
    }
      ul li button {
          font-size: 5vw;
      }
     .menu__extra-line {
        top: 20px;
        left: 85%;
        transform: translate(-85%, 0);
      }
  }
  }
