.hero {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1;
  transition: opacity 0.3s ease-out;
  background-image: url(../../assets/image/hero-one.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  transition: transform 0.1s linear;

  .hero__content {
    background-image: url(../../assets/image/hero-two.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;
    position: relative;
    z-index: 1;
  }
    .dot {
      fill: #010202;
      stroke: #010202;
      stroke-width: 5;
      animation: blinkDot 4.5s ease infinite;
    }
      @keyframes blinkDot {
        0% {
          fill-opacity: 1;
          stroke-opacity: 0;
        }
        40% {
          fill-opacity: 0;
          stroke-opacity: 1;
        }
        60% {
          fill-opacity: 0;
          stroke-opacity: 1;
        }
        100% {
          fill-opacity: 1;
          stroke-opacity: 0;
        }
      }
    }

    .glow {
      fill: none;
      stroke: #fff;
      stroke-width: 3;
      stroke-dasharray: 1800;
      stroke-dashoffset: 1800;
      animation: glowDraw 4.5s ease-in-out infinite;
    }
    @keyframes glowDraw {
      0% {
        stroke-dashoffset: 1800;
        opacity: 0;
      }
      30% {
        opacity: 1;
      }
      60% {
        stroke-dashoffset: 0;
        opacity: 1;
      }
      100% {
        opacity: 0;
        stroke-dashoffset: -1800;
      }
    }
    

  .hero__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #000;
    text-align: center;
    max-width: 835px;
    cursor: default;
  }

  .hero__desc {
    font-family: 'DS Dots medium';
    color: #000;
    font-size: 6vw;
    cursor: default;
    transition: .3s;
    animation: blink 4.5s ease-in-out infinite;

    @keyframes blink {
      0%, 100% { color: #000; }
      50% { color: #fff; }
    }
    
  }

@media (max-width: 900px) {
  .hero__title {
    font-size: 4vw;
    max-width: 835px
}
}

@media (max-width: 600px) {
  .hero .logo__img {
    width: 400px;
    margin-left: 50px;
}
  .hero__title {
    font-size: 5vw;
    max-width: 835px
}
.hero__desc {
    font-size: 8vw;
    text-align: center;
}
}

@media (max-width: 470px) {
  .hero .logo__img {
    margin-top: 0;
    width: 350px;
    margin-left: 30px;
}
  .hero__title {
    font-size: 5.2vw;
    max-width: 835px
}
.hero__desc {
    font-size: 10vw;
    text-align: center;
}
}

@media (max-width: 366px) {
  .hero .logo__img {
    margin-top: 0;
    width: 300px;
    margin-left: 30px;
}
  .hero__title {
    font-size: 6vw;
    max-width: 835px
}
.hero__desc {
    font-size: 13vw;
    text-align: center;
}
}
 