.sliders {
    position: relative;
    z-index: 6;
    background-color: #000;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.carousel {
    position: relative;
    width: 900px;
    height: 500px;

}

.carousel__scene {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider {
    position: absolute;
    top: -10%;
    left: 35%;
    width: 275px;
    height: 660px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.6s ease, opacity 0.6s ease;
    user-select: none;
}
.slider.active {
    pointer-events: auto;
}


.card__inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    object-fit: cover;
}

.card__face--back {
    transform: rotateY(180deg);
}