.cards {
  position: relative;
  z-index: 4;
  padding: 50px 20px 0;
  background-color: #000;

  &__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}

.card {
  width: 100%;
  aspect-ratio: 3 / 4;
  perspective: 1200px;
  cursor: pointer;
    transform-style: preserve-3d;
  will-change: transform;
  opacity: 0;
  transform: translateY(40px) scale(0.50);
  animation: cardIn 0.28s cubic-bezier(0.33, 1, 0.68, 1) forwards;

  --rotate-x: 0deg;
  --rotate-y: 0deg;

  &:hover {
    z-index: 10;
  }
}

@keyframes cardIn {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: transform 1s ease;
  transform: 
      rotateX(var(--rotate-x))
      rotateY(var(--rotate-y));

  &.is-flipped {
    transform: rotateY(180deg);
  }
}

.card__face {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  object-fit: cover;
  overflow: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}



@media (max-width: 1240px) {
  .cards__inner {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .cards__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}