.gift {
    overflow: hidden;
    position: relative;
    background-color: #000;
    z-index: 6;
        .gift__inner {
            position: relative;
            width: 100%;
        }
}

.inf__title {
    position: relative;
    white-space: nowrap;
    top: 40px;
    z-index: 2;
    font-family: var(--second-family);
    font-weight: 500;
    text-align: center;
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke: 3px #9DFF00;
    animation: infinity 12s linear infinite;

    @keyframes infinity {
        0% {
            transform: translateX(-200%);
        }
        100% {
            transform: translateX(200%);
        }
    }
}

.gift__slider {
    display: flex;
    width: max-content;
}

.gift__img {
    opacity: .4;
    transition: all 0.4s ease;
    position: relative;
    z-index: 1;
    &:hover {
        opacity: 1;
        z-index: 11;
        transform: scale(1.1);
    }
}

@media (max-width: 850px) {
    .gift__img {
        width: 400px;
    }
}

@media (max-width: 655px) {
    .inf__title {
        font-size: 4rem;
    }
    .gift__img {
        width: 350px;
    }
}

@media (max-width: 500px) {
    .inf__title {
        top: 15px;
        font-size: 3rem;
    }
    .gift__img {
        width: 300px;
    }
}