@font-face {
    font-family: 'DS Dots medium';
    src: url('./assets/fonts/DS-Dots-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Heebo', sans-serif;
    src: url('./assets/fonts/heebo-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Heebo', sans-serif;
    src: url('./assets/fonts/heebo-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Heebo', sans-serif;
    src: url('./assets/fonts/heebo-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Heebo', sans-serif;
    src: url('./assets/fonts/heebo-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Heebo', sans-serif;
    src: url('./assets/fonts/heebo-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Heebo', sans-serif;
    src: url('./assets/fonts/heebo-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('./assets/fonts/montserrat-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('./assets/fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

:root {
    --font-family: 'Montserrat', sans-serif;
    --second-family: 'Heebo', sans-serif;
    --third-family: 'DS Dots medium';
}

body {
    overflow-x: hidden;
    background-color: #000;
}
